body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1 {
    color:grey;
    font-family:verdana;
    font-size:26px;
}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    align-content:right;
  }
  
  .grid-item {
    font-size: 14px;
    text-align: left;
    margin-top:5px;
    width:50x;
    align-content:left;
  }

  footer {
      position:absolute;
  }